@use "../abstracts/colors" as c;

*{
    font-family: "lato", sans-serif;
    text-align: center;
}

.link > a{
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: none;
    color: c.$supplementary-text;

}

h1{
    font-size: 2.4rem;
    font-weight: 400;
}

h2{
    font-size: 1.9rem;
}

h3{
    font-size: 1.4rem;
}

.text{
    font-weight: 300;
}

.text-big{
    font-size: 2.5rem;
}

.accent-text{
    color: c.$extra-text;
    font-weight: 700;
}

.word-play{
    font-size: 2.8rem;
    font-weight: 700;
    color: c.$extra-text;
}

.button{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.about__text{
    font-weight: 400;
    font-size: 1.1rem;
    color: c.$main-text;
}

.about__card{
    h3{color: c.$accent-color}

    .text{
        font-weight: 400;
        color: c.$main-text;
    }
}

@media screen and(min-width: 768px) {

}

@media screen and(min-width: 912px){
    *{text-align: left;}

    h1{font-size: 4rem;}

    .text-big{font-size: 2.5rem;}

    .word-play{
        font-size: 3.5rem;
    }
}