$supplementary-text: rgba(117,183,131,1);
$main-text: rgba(33,50,35,1);
$extra-text: rgba(0,236,151,1);
$background-white-2: rgba(229,254,245,1);
$background-white: rgba(242,255,253,1);
$accent-color: rgba(105,160,120,1);