#about{
    height: 100vh;
    width: 100vw;
    max-width:100%;
    padding: 100px;
    position: relative;
    color: #F2F2F2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        top: 0px; 
        left: 0;
        width: 100%; 
        height: 100%;
        background: center / cover no-repeat url("/images/about-background.jpg");
        opacity: 40%;
        filter: grayscale(60%) blur(3px) opacity(0.8);
        z-index: -5;
    }

}

.about_text-container{
    display: grid;
    width: 50%;

    h2{
        margin: 172px 0 0 0;
        padding: 0;
        //font-size: 3.5rem; <- original
        font-size: clamp(1.8rem, 2.9vmax, 3.5rem);
        height: 200px;
        text-align: right;
        justify-self: right;
    }

    p{
        padding: 0;
        //font-size: 2.3rem; <- original
        font-size: clamp(1.4rem, 1.9vmax, 2.3rem);
        height: 200px;
        text-align: right;
        justify-self: right;
    }
}

.about_tech-container{
    width: 40%;
    margin: 150px auto 150px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
    //font-size: 5rem; <- original
    font-size: clamp(2.2rem, 4.15vmax, 5rem);

    .tech-logo{
        text-shadow: 10px 15px 10px rgb(255 255 255 / 0.25);
    }
}