@use "../abstracts/colors" as c;


@media screen and (min-width: 912px) {
    //-------------------------------- Home section -------------------
    #home{
        height: 100vh;
        text-align: left;
    }

    .home__container{
        margin: 0;
        padding: 100px;
        padding-top: 15vh;

        h1{
            margin-bottom: 20px;
        }

        .text{
            width: 450px;
            margin-top: 20px;
        }
    }

    .word-play{
        margin: 90px auto;
    }

    .buttons-container{
        margin-top: 15vh;
        width: 450px;
        display: flex;
        justify-content: space-between;
    }


    // ---------------------------- About section-------------------
    #about{
        margin: 0 100px 100px 100px;
        padding-top: 100px;
    }


    .about__card-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #projects{
        padding: 100px;
        min-height: fit-content;
        height: calc((100vh - 8vh) - 200px);
    }
}