#work{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding: 100px;
    position: relative;
    color: #f2f2f2;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    
    &:before {
        content: "";
        position: absolute;
        top: 140px; 
        left: 0;
        width: 100%; 
        height: 100%;
        background: center / cover no-repeat url("src/assets/work-background.jpg");
        opacity: 40%;
        filter: grayscale(60%) blur(3px);
        z-index: -5;
    }

    h2{
        //font-size: 3.5rem; <- original
        font-size: clamp(1rem, 3.5vmax, 3.5rem);
        width: 900px;
        margin: 60px 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }


}

.carousel{
    margin-top: 0;
    width: 100%;
    height: 28vw;
    position: relative;

    :nth-child(1){
        background: center / cover no-repeat url("/images/project-1.png");
    }
    :nth-child(2){
        background: center / cover no-repeat url("/images/project-2.png");
    }
    :nth-child(3){
        background: center / cover no-repeat url("/images/project-3.png");
    }
    :nth-child(4){
        background: center / cover no-repeat url("/images/project-4.png");
    }
    :nth-child(5){
        background: center / cover no-repeat url("/images/project-5.png");
    }
    :nth-child(6){
        background: center / cover no-repeat url("/images/project-6.png");
    }
    :nth-child(7){
        background: center / cover no-repeat url("/images/project-7.png");
    }
    :nth-child(8){
        background: center / cover no-repeat url("/images/project-8.png");
    }
    :nth-child(9){
        background: center / cover no-repeat url("/images/project-9.png");
    }

    .left{
        left: 15%;
        top: 50%;
        transform: translate(-15%, -50%);
        z-index: 2;
    }

    .middle{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
    }

    .right{
        top: 50%;
        right: 15%;
        transform: translate(15%, -50%);
        z-index: 2;
    }

    .button{
        width: 25vw;
        aspect-ratio: 8 / 5;
        border-radius: 8px;
        background-color: rgb(0 0 0 / 0.1);
        opacity: 0;
        position: absolute;
        z-index: 3;
    }

    .button-right{
        left: 50%;
        top: 50%;
        transform: translate(35%, -50%)
    }

    .button-left{
        left: 50%;
        top: 50%;
        transform: translate(-135%, -50%)
    }
}
