#work{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding: 100px;
    position: relative;
    color: #f2f2f2;
    background-color: #080403;
    text-align: center;

    h2{
        font-size: 3.5rem;
        width: 900px;
        margin: 60px auto;
    }

}

.carousel{
    margin-top: 0;
    width: 100%;
    height: 28vw;
    background-color: gray;
    position: relative;

    :nth-child(1){
        background: center / cover no-repeat url("/images/30.03.2022_15.47.17_REC.png");
    }

    :nth-child(2){
        background: center / cover no-repeat url("/images/30.03.2022_15.45.39_REC.png");
    }

    :nth-child(3){
        background: center / cover no-repeat url("/images/30.03.2022_15.47.02_REC.png");
    }


    .card-small{
        width: 25vw;
    }

    .card-big{
        width: 35vw;
    }

    .left{
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translate(-15%, -50%);
        z-index: 2;
    }

    .middle{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
    }

    .right{
        position: absolute;
        top: 50%;
        right: 15%;
        transform: translate(15%, -50%);
        z-index: 2;
    }

    .button{
        width: 25vw;
        aspect-ratio: 8 / 5;
        background-color: rgb(0 0 0 / 0.2);
        position: absolute;
        z-index: 3;
    }

    .button-right{
        top: 50%;
        right: 15%;
        transform: translate(15%, -50%);
    }

    .button-left{
        top: 50%;
        left: 15%;
        transform: translate(-15%, -50%);
    }
}
